.navElements{
    text-align: center;
    font: normal normal medium 14px/21px Poppins;
    font-weight: bold;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.profileName{
    text-align: center;
    letter-spacing: 0px;
    color: #228E38;
    opacity: 1;
}
.addCropButton{
    display: flex;
    justify-content: center;
   
}